img {
  margin: 0;
  padding: 0;
  display: block;
  width:100%;
  transition: transform 1s;
}

img:hover{
  transform: scale(1.2);
}

.masonry{
  margin:0;
  padding:0;
  column-gap: 0;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
  #firstword{
    font-size: 125px;
  }
  h1{
    font-size: 75px;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
  #firstword{
    font-size: 100px;
  }
  h1{
    font-size: 50px;
  }

}
@media only screen and (max-width: 539px) and (min-width: 1px) {
  .masonry {
    column-count: 1;
  }
  #firstword{
    font-size: 60px;
  }
  h1{
    font-size: 25px;
  }
}
